<div class="filter-bar"><input class="filterinput" type="text" placeholder="Search..." ng-model="filterText"/>
<select name="genre" ng-model="filterGenre" class="filterdropdown">
<option value="">All</option>
<option ng-repeat="genre in genres">{{genre}}</option>
</select>
</div>
<div class="container">
<div data-ng-repeat="films in films | filter: {title: filterText, genres: filterGenre}" class="film-entry">

    <img class="cover" src="/assets/img/{{films.cover}}" />

    <h2>{{films.title}}</h2>
    <span class="year">{{films.year}}</span>

    <ul class="genres">
        <li  data-ng-repeat="genre in films.genres">{{genre}}</li>
    </ul>

    <ul class="actors">
        <li data-ng-repeat="actors in films.actors">{{actors}}</li>
    </ul>

    <div class="clear"></div>
</div>
</div>