<nav class="filter-bar navbar navbar-default navbar-fixed-top">
    <div class="filter col-xs-4">
        <label for="search">Search</label>
        <input class="form-control" type="text" placeholder="Search..." ng-model="filterText"/>
    </div>
    <div class="form-group col-xs-4">
        <label for="genre">Genre</label>
        <select class="form-control" name="genre" ng-model="filterGenre">
            <option value="">All</option>
            <option ng-repeat="genre in genres">{{genre}}</option>
        </select>
    </div>
    <div class="form-group col-xs-4">
        <label for="actor">Actor</label>
        <select class="form-control" name="actor" ng-model="filterActor">
            <option value="">All</option>
            <option ng-repeat="actor in actors">{{actor}}</option>
        </select>
    </div>
</nav>
<div class="container">
    <div data-ng-repeat="films in films | filter: {title: filterText, genres: filterGenre, actors: filterActor}"
         class="film-entry">

        <img class="cover" src="/assets/img/{{films.cover}}"/>

        <h2>{{films.title}}</h2>
        <span class="year">{{films.year}}</span>

        <ul class="genres">
            <li data-ng-repeat="genre in films.genres">{{genre}}</li>
        </ul>

        <ul class="actors">
            <li data-ng-repeat="actors in films.actors">{{actors}}</li>
        </ul>

        <div class="clear"></div>
    </div>
</div>