<!--suppress HtmlUnknownTarget -->
<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>

<script type="text/javascript" src="/modules/nak-node-seminar.js"></script>

<script type="text/javascript" src="/services/filmService.js"></script>

<script type="text/javascript" src="/controllers/filmListController.js"></script>
<script type="text/javascript" src="/controllers/addfilmLightboxController.js"></script>

<script type="text/javascript" src="/directives/filmListDirective.js"></script>
<script type="text/javascript" src="/directives/addfilmLightboxDirective.js"></script>

<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>