html {
}

body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #333;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    color: #00B7FF;
}

.container {
    padding: 50px 30%;
}

.genres li {
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
    background-color: #e50b62;
    color: #efefef;
}

.genres li + li {
    margin-left: 10px;
}

.film-entry {
    background-color: #efefef;
    padding:20px;
    border-bottom: 3px solid #e50b62;
    border-radius: 5px;
}

.film-entry h2 {
    display: inline-block;
    margin-right: 20px;
}

.actors li {
    list-style-type: none;

}
.actors li:before {
    content: '- ';
    position:relative;
    left: -10px;
}

.cover {
    float:right;
    max-width:200px;
}

.clear {
    clear:both;
}

.filter-bar {
    position:fixed;
    top:0;
    height: 40px;
    padding:3px;
    background-image: linear-gradient(#e50b62 0,  #e50b62 85%, #c60955 86%, #c60955 100%);
    box-shadow: 0 0 8px #ccc;
    width: 100%;
    padding-left: 20%;
}
