html {
}

body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #333;
    overflow-x: hidden;
    overflow-y: scroll;
    position:relative;
    padding-top:110px;
}

a {
    color: #00B7FF;
}

.label-genre {
    background-color: #e50b62;
    margin:.125em;
}

.film-entry {
    background-color: #efefef;
    padding:20px;
    border-bottom: 3px solid #e50b62;
    border-radius: 5px;
}

.film-entry h2 {
    display: inline-block;
    margin-right: 20px;
}

.cover {
    width:100%;
    max-width:200px;
}

.clear {
    clear:both;
}

.filter-bar {
    top:0;
    padding:1em;
    background-image: linear-gradient(#e50b62 0,  #e50b62 85%, #c60955 86%, #c60955 100%);
    box-shadow: 0 0 8px #ccc;
    width: 100%;
    text-align:center;
    display:block;
    color:#fff;
    font-size:1em;
}

.modal {
    display: none;
    color: #333;
    position: absolute;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    width: 50%;
    height: 50%;
    left: 25%;
    z-index: 100;
}

.backdrop {
    display: none;
    width: 100%;
    height: 100%;
    position:fixed;
    opacity: .7;
    background-color: #000;
}
